<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><p><a href="verify_restaurant">Verify Restaurant</a></p>
        <p><a href="verify_users">Verify users</a></p>
        <p><a href="view_review">Veiw reveiws</a></p>
        <p><a href="view_complaint">Veiw complaints and Send reply</a></p>
        <p><a href="/">Logout</a></p>
      <p>&nbsp;</p></td>
    </tr>
  </table>
  <a href="#"></a>
</form>
</body>
</html>
